pyyaml
jinja2
gym==0.21.0
lxml
numpy<2
coloredlogs
xmltodict
Pyro4
psutil
opencv-python==4.8.1.78
multiprocess
pytest
daemoniker
tqdm
requests
mypy-extensions
jsonlines
praw
wget
importlib_resources
hydra-core
Pillow
